


.big-font {    
    font-family: "Gibson", sans-serif;
    font-size:70px !important;
    font-weight: 800;
    }
.medium-font {
    font-family: "Gibson", sans-serif;
    font-weight: 400;
    font-size:50px !important;
    color: green;
    }
