
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Outfit:wght@100..900&display=swap');

.big-font {
    font-size:70px !important;
    color: yellow;
    }
.medium-font {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size:50px !important;
    color: green;
    }
